* {
    color: #0D0D0D;
    font-family: 'Manrope', sans-serif;
}

ul {
    margin-bottom: 0 !important;
}

li {
    list-style: none;
    cursor: pointer;
}

a {
    text-decoration: none !important;
    list-style: none;
    color: #0D0D0D;
}

p {
    margin-bottom: 0;
}

.wt {
    color: #fff;
    font-weight: 600;
}

.wtp {
    color: #fff;
    font-weight: 600;
}

.wtp:hover {
    color: #fff;
    font-weight: 600;
}

.wi {
    max-width: 200px;
}

.dis {
    padding-left: 20px;
    text-align: left;
}

h2 {
    min-width: 150px;
}

h3 {
    text-align: center;
}

.logo {
    display: flex;
}

.logo>img {
    width: 100px;
    height: 100px;
}

.menu__box {
    display: flex;
    justify-content: space-between;
    height: 60px;
    margin: 20px;
    width: 100%;
    padding-left: 0 !important;
}

.menu {
    display: flex;
    padding-left: 0 !important;
}

.menu__item {
    padding: 20px;
}

.tab-content>.active {
    display: flex !important;
    height: 220px;
    justify-content: space-between;
}

.tab-content>.active>div {
    display: flex !important;

    padding: 20px;
    justify-content: space-between;
}

.tab-content>.active>h4 {

    padding: 20px;
}

.phon-top {
    width: 20px;
}

.phon-bot {
    display: none;
    width: 30px;
    padding: 8px;
    background-color: #2A9B00;
    border-radius: 50%;
}

.phon {
    width: 30px;
    margin: 10px;
}

.img-size {
    max-width: 520px;
}

.modal-body {
    display: block;
}

.center-item {
    display: flex;
    justify-content: center;
}

.bg-img-wrap {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../img/image_car.png');
}

.bg-img-cont {
    height: 220px;
}

header {
    background: #34C200;
}

.Banner {
    background: #3EE800;
}

footer {
    background: #195C00;
    display: flex;
    justify-content: center;

}

footer>ul {
    display: flex;
    justify-content: center;
    padding: 60px 0 60px 0;
}

footer>ul>li {
    border-bottom: #fff solid 4px;
}

.text-color {
    color: #131A1E;
}

.pt-3 {
    margin-top: 30px;
}

.btn {
    background-color: #feac01 !important;
    border-color: #feac01 !important;
    color: #fff !important;
}

.btn:hover {
    background-color: #9b5800 !important;
    border-color: #9b5800 !important;
    color: #0D0D0D;
}

.wrapper-item {
    display: flex !important;
    height: 360px;
}

.wrapper-right {

    width: 50%;
    height: 100%;
}

.wrapper-left {
    background-color: blueviolet;
    width: 50%;
    height: 100%;
    padding: 100px;
}

.wt:hover {
    border-bottom: #fff solid 3px;
}

.action {
    height: 100%;
    width: auto;
    float: right;
}

/*Меню*/
#menu__toggle {
    opacity: 0;
}

/* стилизуем кнопку */
.menu__btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 27px;

    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;

    right: 27px;
}

#menu__toggle:checked~.menu__btn>span {
    transform: rotate(45deg);
}

#menu__toggle:checked~.menu__btn>span::before {
    top: 0;
    transform: rotate(0);
}

#menu__toggle:checked~.menu__btn>span::after {
    top: 0;
    transform: rotate(90deg);
}

#menu__toggle:checked~.menu__box {
    visibility: visible;
    left: 0;
}

.pointer {
    cursor: pointer;
}

.counter {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-column-gap: 7px;
    column-gap: 7px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.counter__button {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 30px;
    flex: 0 0 30px;
    height: 30px;
    border: 1px solid #000;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
}

.counter__button_minus.disabled {
    border: 1px solid #c4c4c4;
    color: #c4c4c4;
    cursor: default;
}

.counter__input {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 30px;
    flex: 0 0 30px;
}

.counter__input input {
    width: 100%;

    border: none;
    text-align: center;
}

@media (max-width: 686px) {
    .counter {
        display: none;
    }

    .phon-bot {
        display: block;
        cursor: pointer;
    }

    .wrapper-left {
        display: none;
    }

    .wrapper-right {

        width: 100%;
        height: 100%;
    }

    .action {
        float: calc();
        margin: 0 auto;
    }
}

@media (max-width: 576px) {
    .img-size {
        width: 355px;
    }

    .nav-bar {
        display: none;
    }

    .img-size-slider {
        width: 360px;
    }

    .menu__box {
        display: block !important;
        position: fixed;
        visibility: hidden;
        top: 0;
        left: -100%;
        width: 300px;
        height: 100%;
        margin: 0;
        padding: 80px 0;
        list-style: none;
        text-align: center;
        background-color: #34C200;
        box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
        z-index: 99;
    }

    .menu {
        display: block;
    }

    /* элементы меню */
    .menu__item {
        display: block;
        font-size: 20px;

    }

    /* добавляем "гамбургер" */
    .menu__btn>span,
    .menu__btn>span::before,
    .menu__btn>span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #fff;
    }

    .menu__btn>span::before {
        content: '';
        top: -8px;
        background-color: #fff;
    }

    .menu__btn>span::after {
        content: '';
        top: 8px;
        background-color: #fff;
    }
}

@media (max-width: 424px) {
    .img-size {
        width: 270px;
    }

    .wi {
        width: 170px;
        height: 170px;
    }

    .tab-content>.active>div {

        padding: 10px 0 10px 0;

    }
}

@media (max-width: 360px) {
    .img-size-slider {
        width: 340px;
    }
}